doctype
html(lang="en")
    head
        //meta tags
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //page title
        title Error 404 page not found

        //site icon
        link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")

        //ionicons
        link(rel="stylesheet", href="../bower_components/ionicons/css/ionicons.min.css")

        //waves 
        link(rel="stylesheet", href="../bower_components/waves/dist/waves.min.css")

        //perfect scroll 
        link(rel="stylesheet", href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css")

        //pace 
        link(rel="stylesheet", href="../bower_components/pace/themes/blue/pace-theme-flash.css")
        
        //main stylesheet
        link(rel="stylesheet", href="css/404.css")

    body
        

        .c-404
            img(src="images/logo.svg", alt="", class="c-404__logo")
            h1.c-404__h1 404
            h3.c-404__h3 Page not found
            p.c-404__p This page might be moved,deleted or not exsistes... 
            
            input(type="search", class="c-404__search" , placeholder="Search...")
        
        ul.nav
            li 
                a(href="#") Home

            li 
                a(href="#") About

            li
                a(href="#") Privacy

            li 
                a(href="#") Contact
            
        //jQuey
        script(src="../bower_components/jquery/dist/jquery.min.js")

        //popper.js
        script(src="../bower_components/popper.js/dist/umd/popper.min.js")

        //Bootstrap
        script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")

        //waves 
        script(src="../bower_components/waves/dist/waves.min.js")

        //perfect scrollbar 
        script(src="../bower_components/perfect-scrollbar/dist/perfect-scrollbar.min.js")

        //Pace 
        script(src="../bower_components/pace/pace.min.js")

        //toastr
        script(src="../bower_components/toastr/toastr.min.js")
        
        //main js file
        script(src="js/shared.js")
