extends includes/layout


append title
	title Default layout


append styles


append sidebar
	+navigation( 'ui_elements' )

	

append main
	h3 this is a default page


append scripts

	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
