extends includes/layout


append title
	title Buttons 
	link(rel="stylesheet", href="../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css")

append styles


append sidebar
	+navigation( 'pages' )

	
	

append main
	.col-md-12
		.c-breadcrumb
			p.c-breadcrumb__page Home >
				span.c-breadcrumb__subpage Buttons

	.col-md-12
		.c-card
			header.c-card__header
				h5.c-card__title Default style
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content

				p To make a button all you need is to create a button or a element with a class of 
					code .btn

				a.btn.btn-default default
				a.btn.btn-primary primary
				a.btn.btn-secondary secondary
				a.btn.btn-success success
				a.btn.btn-danger danger
				a.btn.btn-warning warning
				a.btn.btn-info info
				a.btn.btn-light light
				a.btn.btn-dark dark
				a.btn.btn-link link

				header.c-card__header.mt-4
					h5.c-card__title Bordred style

				p add 
					code .btn--bordered 
					| to make a bordered button

				a.btn.btn-primary.btn--bordered primary
				a.btn.btn-secondary.btn--bordered secondary
				a.btn.btn-success.btn--bordered success
				a.btn.btn-danger.btn--bordered danger
				a.btn.btn-warning.btn--bordered warning
				a.btn.btn-info.btn--bordered info
				a.btn.btn-dark.btn--bordered dark
				a.btn.btn-link.btn--bordered link

				header.c-card__header.mt-4
					h5.c-card__title Rounded style

				p add 
					code .btn--rounded 
					| to make a rounded button

				a.btn.btn-primary.btn--rounded primary
				a.btn.btn-secondary.btn--rounded secondary
				a.btn.btn-success.btn--rounded success
				a.btn.btn-danger.btn--rounded danger
				a.btn.btn-warning.btn--rounded warning
				a.btn.btn-info.btn--rounded info
				a.btn.btn-dark.btn--rounded dark
				a.btn.btn-link.btn--rounded link


		.c-card
			header.c-card__header
				h5.c-card__title Large button
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content

				p To make a large button add a class of  
					code .btn--lg 
					| to your button

				a.btn.btn-default.btn--lg default
				a.btn.btn-primary.btn--lg primary
				a.btn.btn-secondary.btn--lg secondary
				a.btn.btn-success.btn--lg success
				a.btn.btn-danger.btn--lg danger
				a.btn.btn-warning.btn--lg warning
				a.btn.btn-info.btn--lg info
				a.btn.btn-light.btn--lg light
				a.btn.btn-dark.btn--lg dark
				a.btn.btn-link.btn--lg link

				header.c-card__header.mt-4
					h5.c-card__title Bordred style

				p add 
					code .btn--bordered 
					| to make a bordered button

				a.btn.btn-primary.btn--bordered.btn--lg primary
				a.btn.btn-secondary.btn--bordered.btn--lg secondary
				a.btn.btn-success.btn--bordered.btn--lg success
				a.btn.btn-danger.btn--bordered.btn--lg danger
				a.btn.btn-warning.btn--bordered.btn--lg warning
				a.btn.btn-info.btn--bordered.btn--lg info
				a.btn.btn-dark.btn--bordered.btn--lg dark
				a.btn.btn-link.btn--bordered.btn--lg link

				header.c-card__header.mt-4
					h5.c-card__title Rounded style

				p add 
					code .btn--rounded 
					| to make a rounded button

				a.btn.btn-primary.btn--rounded.btn--lg primary
				a.btn.btn-secondary.btn--rounded.btn--lg secondary
				a.btn.btn-success.btn--rounded.btn--lg success
				a.btn.btn-danger.btn--rounded.btn--lg danger
				a.btn.btn-warning.btn--rounded.btn--lg warning
				a.btn.btn-info.btn--rounded.btn--lg info
				a.btn.btn-dark.btn--rounded.btn--lg dark
				a.btn.btn-link.btn--rounded.btn--lg link


		.c-card
			header.c-card__header
				h5.c-card__title waves effect
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content

				p To make a button all you need is to create a button or a element with a class of 
					code .btn

				a.btn.btn-default.js-waves--dark default
				a.btn.btn-primary.js-waves--light primary
				a.btn.btn-secondary.js-waves--light secondary
				a.btn.btn-success.js-waves--light success
				a.btn.btn-danger.js-waves--light danger
				a.btn.btn-warning.js-waves--light warning
				a.btn.btn-info.js-waves--light info
				a.btn.btn-light.js-waves--light light
				a.btn.btn-dark.js-waves--light dark
				a.btn.btn-link.js-waves--light link

				header.c-card__header.mt-4
					h5.c-card__title Bordred style

				p add 
					code .btn--bordered 
					| to make a bordered button

				a.btn.btn-primary.btn--bordered.js-waves--light primary
				a.btn.btn-secondary.btn--bordered.js-waves--light secondary
				a.btn.btn-success.btn--bordered.js-waves--light success
				a.btn.btn-danger.btn--bordered.js-waves--light danger
				a.btn.btn-warning.btn--bordered.js-waves--light warning
				a.btn.btn-info.btn--bordered.js-waves--light info
				a.btn.btn-dark.btn--bordered.js-waves--light dark
				a.btn.btn-link.btn--bordered.js-waves--light link

				header.c-card__header.mt-4
					h5.c-card__title Rounded style

				p add 
					code .btn--rounded 
					| to make a rounded button

				a.btn.btn-primary.btn--rounded.js-waves--light primary
				a.btn.btn-secondary.btn--rounded.js-waves--light secondary
				a.btn.btn-success.btn--rounded.js-waves--light success
				a.btn.btn-danger.btn--rounded.js-waves--light danger
				a.btn.btn-warning.btn--rounded.js-waves--light warning
				a.btn.btn-info.btn--rounded.js-waves--light info
				a.btn.btn-dark.btn--rounded.js-waves--light dark
				a.btn.btn-link.btn--rounded.js-waves--light link
				

		.c-card
			header.c-card__header
				h5.c-card__title basic Social buttons
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content
				.d-flex
					a.btn.btn-social.btn--facebook(href="#")
						i.fab.fa-facebook-f

					a.btn.btn-social.btn--twitter(href="#")
						i.fab.fa-twitter

					a.btn.btn-social.btn--youtube(href="#")
						i.fab.fa-youtube

					a.btn.btn-social.btn--instagram(href="#")
						i.fab.fa-instagram

			header.c-card__header.mt-4
				h5.c-card__title rounded Social buttons

			.d-flex
				a.btn.btn-social.btn--facebook.rounded-circle(href="#")
					i.fab.fa-facebook-f

				a.btn.btn-social.btn--twitter.rounded-circle(href="#")
					i.fab.fa-twitter

				a.btn.btn-social.btn--youtube.rounded-circle(href="#")
					i.fab.fa-youtube

				a.btn.btn-social.btn--instagram.rounded-circle(href="#")
					i.fab.fa-instagram
append scripts

	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
