extends includes/layout


append title
	title Motahakim callendar


append styles
	link(rel="stylesheet", href="../bower_components/fullcalendar/dist/fullcalendar.min.css")
	link(rel="stylesheet", href="../bower_components/fullcalendar/dist/fullcalendar.print.min.css", media="print")
	link(rel="stylesheet", href="css/calendar.css")
append sidebar
	+navigation( 'pages' )

	

append main
	.container-fluid
		.row
			.col-12
				div#fullcalendar


append scripts
	
	script(src="../bower_components/moment/min/moment.min.js")
	script(src="../bower_components/fullcalendar/dist/fullcalendar.min.js")
	script.
		$("#fullcalendar").fullCalendar({
			events: [
					{
						title  : 'event1',
						start  : '2018-05-02',
						end     : '2018-05-05',
						backgroundColor: "#6c5ce7",
						borderColor: "transparent",
						textColor: "#fff"
					},
					{
						title  : 'event2',
						start  : '2018-05-06',
						end    : '2018-05-08',
						backgroundColor: "#2ecc71",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
					
					{
						title  : 'event3',
						start  : '2018-05-09',
						end    : '2018-05-15',
						backgroundColor: "#9b59b6",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
					
					{
						title  : 'event3',
						start  : '2018-05-16',
						end    : '2018-05-17',
						backgroundColor: "#bdc3c7",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
					
					{
						title  : 'event3',
						start  : '2018-05-20',
						end    : '2018-05-21',
						backgroundColor: "#e74c3c",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
					{
						title  : 'event3',
						start  : '2018-05-23',
						end    : '2018-05-26',
						backgroundColor: "#f39c12",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
					
					{
						title  : 'event3',
						start  : '2018-05-27',
						end    : '2018-05-30',
						backgroundColor: "#1abc9c",
						borderColor: "transparent",
						textColor: "#fff"
						
					},
				],
			header: {
				left: "prev,next today",
				center: "title",
				right: "month, agendaWeek ,agendaDay"
			},
			
			selectable: true,
			selectHelper: true,
			editable: true,	
			eventLimit: true,
			select: function(start, end){
				console.log(start)
			}
			})
	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
