extends includes/layout


append title
	title Default layout


append styles


append sidebar
	+navigation( 'charts' )

	

append main
	.col-md-12
		.c-breadcrumb
			p.c-breadcrumb__page Home >
				span.c-breadcrumb__subpage ChartJs

	.col-md-6
		.c-card
			header.c-card__header
				h5.c-card__title Bar chart
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content
				canvas#chartjs-0

	.col-md-6
		.c-card
			header.c-card__header
				h5.c-card__title Bar chart
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content
				canvas#chartjs-1

	.col-md-6
		.c-card
			header.c-card__header
				h5.c-card__title Bar chart
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content
				canvas#chartjs-2


	.col-md-6
		.c-card
			header.c-card__header
				h5.c-card__title Bar chart
				ul.c-card__options  
					li  
						a(href="#")
							i.ion-ios-gear-outline
					li  
						a.minimizecard(href="#")
							i.ion-ios-arrow-down
					li  
						a.closecard(href="#")
							i.ion-android-close
			.c-card__content
				canvas#chartjs-3

append scripts
	script(src="../bower_components/chart.js/dist/Chart.min.js")

	script.
		if ( $("#chartjs-0").length && $("#chartjs-0").length ){

			var chart0Ctxt = document.getElementById("chartjs-0").getContext("2d");

			var chart1Ctxt = document.getElementById("chartjs-1").getContext("2d");

			var chart2Ctxt = document.getElementById("chartjs-2").getContext("2d");

			var chart3Ctxt = document.getElementById("chartjs-3").getContext("2d");

			var lineChart = new Chart(chart0Ctxt, {
				type: 'line',
				data: {
					labels: ["January", "February", "March", "April", "May", "June", "July"],
					datasets: [
						{
							label: "My First dataset",
							backgroundColor: 'transparent',
							borderColor: '#00a8ff',
							data: [0, 10, 5, 2, 20, 30, 45],
						},

						{
							label: "My second dataset",
							backgroundColor: 'transparent',
							borderColor: '#222',
							data: [20, 13, 35, 24, 30, 34, 35],
						}
				
					]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});

			var barChart = new Chart(chart1Ctxt, {
				type: 'bar',
				data: {
					labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
					datasets: [{
						label: 'data',
						data: [12, 19, 3, 5, 4, 3],
						backgroundColor: '#1dd374',
						// borderWidth: 1'
					}]
				}
				// options: 
				// options: options
			});


			var radarChart = new Chart(chart2Ctxt, {
				type: 'radar',
				data: {
					labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
					datasets: [{
						label: 'data',
						data: [12, 19, 3, 5, 4, 3],
						backgroundColor: '#1dd374',
						// borderWidth: 1'
					}]
				}
				// options: 
				// options: options
			});

			var doughnutChart = new Chart(chart3Ctxt, {
				type: 'doughnut',
				data: {
					labels: ["Red", "Blue", "Yellow"],
					datasets: [{
						label: 'data',
						data: [12, 19, 3],
						backgroundColor: ['#3498db', '#ecf0f1','#34495e'],
						// borderWidth: 1'
					}]
				}
				// options: 
				// options: options
			});
		}
	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
