extends includes/layout


append title
	title Basic Tables


append styles
	link(rel="stylesheet", href="../bower_components/datatables.net-dt/css/jquery.dataTables.min.css")
	
append sidebar
	+navigation( 'tables' )

append main
	// breadcrumb
	.col-md-12
		.c-breadcrumb
			p.c-breadcrumb__page Home 
				i.ion-ios-arrow-right
				span.c-breadcrumb__subpage  Basic tables

	.col-md-12
		.c-card
				header.c-card__header
						h5.c-card__title Members
						ul.c-card__options  
								li  
										a(href="#")
												i.ion-ios-gear-outline
								li  
										a.minimizecard(href="#")
												i.ion-ios-arrow-down
								li  
										a.closecard(href="#")
												i.ion-android-close
				.c-card-content
						table#users.c-table.table.has-data
								thead
										tr
												th ID
												th Name
												th Username
												th Country
												th Role
												th Last login
												th Worked houres
												th Balance
												th Reviews
												th Progress
								tbody
										tr
												th(scope='row') 1
												td 
														span.c-table__name Jacob doe
												td Thornton
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/ma.png", alt="")
												td
														span.badge.badge-info Writter
												td Today, at 00:08AM
												td 124h39min
												td 13,21$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star-half
														i.ion-ios-star-outline
												td 
														.progress
																.progress-bar.bg-warning(role="progressbar", style="width: 40%", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100")
										tr
												th(scope='row') 2
												td
														span.c-table__name Hicham Askour
												td Askour
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/ru.png", alt="")
												td
														span.badge.badge-success Developer
												td Today, at 04:08AM
												td 1294h30min
												td 139,21$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star-half
														i.ion-ios-star-outline
														i.ion-ios-star-outline
														i.ion-ios-star-outline
												td 
														.progress
																.progress-bar.bg-danger(role="progressbar", style="width: 26%", aria-valuenow="26", aria-valuemin="0", aria-valuemax="100")
										tr
												th(scope='row') 3
												td
														span.c-table__name John dean
												td Doe
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/us.png", alt="")
												td
														span.badge.badge-danger Designer
												td Today, at 10:08AM
												td 12h44min
												td 1,201$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star 
														
												td 
														.progress
																.progress-bar.bg-success(role="progressbar", style="width: 100%", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100")
										tr
												th(scope='row') 3
												td
														span.c-table__name Roberto goodale
												td rbrte
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/au.png", alt="")
												td
														span.badge.badge-success Developer
												td Today, at 10:08AM
												td 12h10min
												td 1,210$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star-half
												td 
														.progress
																.progress-bar.bg-success(role="progressbar", style="width: 85%", aria-valuenow="85", aria-valuemin="0", aria-valuemax="100")
										tr
												th(scope='row') 4
												td
														span.c-table__name Hassan bms
												td Bms
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/br.png", alt="")
												td
														span.badge.badge-info Writter
												td Today, at 09:08AM
												td 16h57min
												td 1,810$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star-half
												td 
														.progress
																.progress-bar.bg-success(role="progressbar", style="width: 90%", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100")
										tr
												th(scope='row') 5
												td
														span.c-table__name torrie bolds 
												td Daoew3
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/qa.png", alt="")
												td
														span.badge.badge-primary Manager
												td Today, at 08:08AM
												td 132h05min
												td 2,21$
												td.c-table__review 
														i.ion-ios-star
														i.ion-ios-star
														i.ion-ios-star-outline
														i.ion-ios-star-outline
														i.ion-ios-star-outline
												td 
														.progress
																.progress-bar.bg-danger(role="progressbar", style="width: 15%", aria-valuenow="15", aria-valuemin="0", aria-valuemax="100")

										tr
												th(scope='row') 6
												td
														span.c-table__name jesica nource
												td jsca78
												td 
														img.c-table__country(src="../bower_components/country-flags/png100px/za.png", alt="")
												td
														span.badge.badge-warning Doctor
												td Today, at 07:08AM
												td 122h30min
												td 8,21$
												td.c-table__review 
														i.ion-ios-star-half
														i.ion-ios-star-outline
														i.ion-ios-star-outline
														i.ion-ios-star-outline
														i.ion-ios-star-outline
												td 
														.progress
																.progress-bar.bg-danger(role="progressbar", style="width: 20%", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")

		

append scripts
	script(src="../bower_components/datatables.net/js/jquery.dataTables.min.js")
	script.
		//data table
		$('#users').DataTable({
				"language": {
						"paginate": {
								"next": "<i class='material-icons'>keyboard_arrow_right</i>",
								"previous": "<i class='material-icons'>keyboard_arrow_left</i>"
						}
				}
		});
	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
