extends includes/layout


append title
	title Documentations


append styles

append sidebar
	+navigation( 'docs' )

append main
  
    

append scripts

	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
