extends includes/layout


append title
	title Default layout


append styles


append sidebar
	+navigation( 'pages' )

	

append main
	.col-md-12
		.c-breadcrumb
			p.c-breadcrumb__page Home >
				span.c-breadcrumb__subpage basic forms


append scripts

	//- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
