extends includes/layout

append title
    title Motahakim Responsive Template

prepend styles
    //=============================================
    
        css files necessary for only this page to run correctely
        
        ==========================================//
    //jqvmap
    link(rel="stylesheet", href="../bower_components/jqvmap/dist/jqvmap.css")

    //pretty-checkbox
    link(rel="stylesheet", href="../bower_components/pretty-checkbox/dist/pretty-checkbox.min.css")

    //pace 
    link(rel="stylesheet", href="../bower_components/pace/themes/blue/pace-theme-flash.css")

    //sweetalerts
    link(rel="stylesheet", href="../bower_components/sweetalert2/dist/sweetalert2.min.css")

    //chartist 
    link(rel="stylesheet", href="../bower_components/chartist/dist/chartist.min.css")

    //chartist tooltip css
    link(rel="stylesheet", href="../bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.css")

    link(rel="stylesheet", href="../bower_components/animate.css/animate.min.css")

    //toastr
    link(rel="stylesheet", href="../bower_components/toastr/toastr.min.css")
    

    //dropzone
    link(rel="stylesheet", href="../bower_components/dropzone/dist/min/basic.min.css")
    link(rel="stylesheet", href="../bower_components/dropzone/dist/min/dropzone.min.css")
        
    link(rel="stylesheet", href="../bower_components/datatables.net-dt/css/jquery.dataTables.min.css")

append sidebar
    //Side nav
    +navigation( 'home')

append main

    // breadcrumb
    .col-md-12
        .c-breadcrumb
            p.c-breadcrumb__page Home >
                span.c-breadcrumb__subpage Dashboards

    // states card
    .col-md-3.col-sm-12
        .c-card.c-states.c-states--orange
            h3.c-states__num $30,4K
            span.c-states__txt Total income
            i.c-states__icon.ion-cash
            span.c-states__status.is-up
                i.ion-arrow-graph-up-right 
                | +23%
    // states card
    .col-md-3.col-sm-12
        .c-card.c-states.c-states--blue
            h3.c-states__num 305
            span.c-states__txt Purchases
            i.c-states__icon.ion-ios-cart
            span.c-states__status.is-up
                i.ion-arrow-graph-up-right 
                | +23%
    // states card
    .col-md-3.col-sm-12
        .c-card.c-states.c-states--green
            h3.c-states__num +12
            span.c-states__txt New users
            i.c-states__icon.ion-ios-personadd
            span.c-states__status.is-down
                i.ion-arrow-graph-up-right 
                | -17%
    // states card
    .col-md-3.col-sm-12
        .c-card.c-states.c-states--dark
            h3.c-states__num 12%
            span.c-states__txt CTR
            i.c-states__icon.ion-arrow-graph-up-right
            span.c-states__status.is-down
                i.ion-arrow-graph-up-right 
                | -7%
    //Main chart
    .col-md-12
        .c-card
            header.c-card__header
                h5.c-card__title Last week repport
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card__content.row
                ul.c-card__labels
                    li.c-card__label 
                        span.color.main 
                        span.key Net profite

                    li.c-card__label 
                        span.color.sec 
                        span.key Total sales

                #chartist-1.ct-major-tenth
    //Earnings by countries
    .col-md-8
        .c-card
            header.c-card__header
                h5.c-card__title Earning by countries
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card__content.row
                #vmapWorld(style="height: 400px;").col-md-8.col-sm-12

                .col-md-4.col-sm-12
                    ul.c-country-list
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/ma.png', alt='')
                            .c-country-list__country  Morocco 
                            span.c-country-list__amount 40,339$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/ru.png', alt='')
                            .c-country-list__country  Russia 
                            span.c-country-list__amount 40,339$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/us.png', alt='')
                            .c-country-list__country  United states 
                            span.c-country-list__amount 2,339$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/au.png', alt='')
                            .c-country-list__country  Australia 
                            span.c-country-list__amount 2,009$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/br.png', alt='')
                            .c-country-list__country  Brazil 
                            span.c-country-list__amount 1,506$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/qa.png', alt='')
                            .c-country-list__country  quatar 
                            span.c-country-list__amount 339$
                        li.c-country-list__item
                            img.c-country-list__img(src='../bower_components/country-flags/png100px/za.png', alt='')
                            .c-country-list__country  south africa 
                            span.c-country-list__amount 239$
    
    //Sales
    .col-md-4
        .c-card
            header.c-card__header
                h5.c-card__title Sales
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
        
            .c-card-content
                //pogress
                label.text-secondary 20,394$
                .progress.mb-3
                    .progress-bar.bg-warning(style="width: 50%;", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")
                

                //pogress
                label.text-secondary 3,094$
                .progress.mb-3
                    .progress-bar.bg-danger(style="width: 20%;", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")

                //pogress
                label.text-secondary 30,394$
                .progress.mb-3
                    .progress-bar.bg-info(style="width: 65%;", aria-valuenow="65", aria-valuemin="0", aria-valuemax="100")

                //pogress
                label.text-secondary 50,394$
                .progress.mb-3
                    .progress-bar.bg-success(style="width: 90%;", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100")

                //pogress
                label.text-secondary 3,094$
                .progress.mb-3
                    .progress-bar.bg-secondary(style="width: 20%;", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")

                //pogress
                label.text-secondary 30,394$
                .progress.mb-3
                    .progress-bar.bg-dark(style="width: 65%;", aria-valuenow="65", aria-valuemin="0", aria-valuemax="100")

                //pogress
                label.text-secondary 50,394$
                .progress.mb-3
                    .progress-bar.bg-primary(style="width: 90%;", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100")
    
    //Mounthly repport 
    .col-md-8
        .c-card
            header.c-card__header
                h5.c-card__title mounthly sales repport (2017)
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card__content.row
                ul.c-card__labels
                    li.c-card__label 
                        span.color.main 
                        span.key Net profite

                    li.c-card__label 
                        span.color.gray 
                        span.key Total sales

            .c-card-content
                canvas#mounthlySales

    //Devices
    .col-md-4
        .c-card
            header.c-card__header
                h5.c-card__title devices
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card__content.row
                ul.c-card__labels
                    li.c-card__label 
                        span.color.iphone 
                        span.key Iphone

                    li.c-card__label 
                        span.color.android 
                        span.key Android
                    
                    li.c-card__label 
                        span.color.main 
                        span.key Laptop

            .c-card-content
                .pie-chart.ct-major-third

            .c-card-footer.d-flex
                h3 30K 
                    span Iphone
                h3 10K 
                    span Android
                h3 1K
                    span Laptop
    
    //Recent activities
    .col-md-6
        .c-card
            header.c-card__header
                h5.c-card__title Recent activities
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content
                ul.c-timeline
                    li.c-timeline__item.c-timeline__item--primary 
                        span.c-timeline__icon
                            i.ion-ios-heart
                        .c-timeline__body
                            h6 Donec et congue neque Maecenas sed.
                            p It is a long established fact that a reader will be distracted by the readable content.
                    
                    li.c-timeline__item.c-timeline__item--success 
                        span.c-timeline__icon
                            i.ion-ios-cloud-download
                        .c-timeline__body
                            h6 Donec et congue neque Maecenas sed.
                            p It is a long established fact that a reader will be distracted by the readable content.

                    li.c-timeline__item.c-timeline__item--info 
                        span.c-timeline__icon
                            i.ion-ios-pricetags
                        .c-timeline__body
                            h6 Donec et congue neque Maecenas sed.
                            p It is a long established fact that a reader will be distracted by the readable content.

                    li.c-timeline__item.c-timeline__item--warning 
                        span.c-timeline__icon
                            i.ion-ios-camera
                        .c-timeline__body
                            h6 Donec et congue neque Maecenas sed.
                            p It is a long established fact that a reader will be distracted by the readable content.

                    li.c-timeline__item.c-timeline__item--danger 
                            span.c-timeline__icon
                                i.ion-ios-cloud-upload
                            .c-timeline__body
                                h6 Donec et congue neque Maecenas sed.
                                p It is a long established fact that a reader will be distracted by the readable content.cd 
    
    //Todo list                 
    .col-md-6
        .c-card
            header.c-card__header
                h5.c-card__title Todo list
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content
                ul.c-to-do
                    .c-to-do-head
                        h3.c-to-do-head__date Monday, 25
                        p.c-to-do-head__mounth April

                        button.c-to-do-head__add.js-waves--light
                            i.ion-ios-plus-empty

                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Make the template responsive
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                            i.ion-ios-trash

                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                i.ion-android-checkmark-circle
                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Maecenas et euismod nunc. Morbi. 
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                                i.ion-ios-trash

                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                i.ion-android-checkmark-circle
                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Sed et ante fermentum, volutpat. 
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                                i.ion-ios-trash

                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                    i.ion-android-checkmark-circle
                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Ut vel faucibus quam, sed. 
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                                i.ion-ios-trash

                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                i.ion-android-checkmark-circle
                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Phasellus nec sem enim. Aliquam. 
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                                i.ion-ios-trash
                        
                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                i.ion-android-checkmark-circle
                    li.c-to-do__item
                        .pretty.p-icon.p-jelly
                            input.js-to-do__chbx(type="checkbox", id="chkb1")
                            .state.p-success
                                i.icon.ion-checkmark-round
                                label.js-to-do__label(for="chkb1") Orci varius natoque penatibus et. 
                        a.c-to-do__delete.js-to-do-delete(href="#", data-toggle="tooltip", data-placement="bottom", title="Delete")
                                i.ion-ios-trash
                        a.c-to-do__complete(href="#", data-toggle="tooltip", data-placement="bottom", title="Mark as complete")
                                i.ion-android-checkmark-circle

    //social statestics
    .col-md-12
        .c-card.row
            .c-social-media.col-md-3.c-social-media--facebook
                span.c-social-media__icon
                    i.ion-social-facebook
                h4.c-social-media__num 45k
                p.text-secondary Page likes

            .c-social-media.col-md-3.c-social-media--twitter
                span.c-social-media__icon
                        i.ion-social-twitter
                h4 5k
                p.text-secondary Followers

            .c-social-media.col-md-3.c-social-media--youtube
                span.c-social-media__icon
                    i.ion-social-youtube
                h4 5M
                p.text-secondary Subscribers

            .c-social-media.col-md-3.c-social-media--instagram
                span.c-social-media__icon
                    i.ion-social-instagram
                h4 25k
                p.text-secondary Followers

    //Traffic Source
    .col-md-4
        .c-card
            header.c-card__header
                h5.c-card__title traffic source
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content

                .c-tsource
                    h4.c-tsource__type referrals
                    p.c-tsource__ratio
                        | 76,5% 
                        span 425
                    h4.c-tsource__type Search engines
                    p.c-tsource__ratio
                        | 20,5% 
                        span 125
                    h4.c-tsource__type affiliate links
                    p.c-tsource__ratio
                        | 2% 
                        span 15
                    h4.c-tsource__type Direct
                    p.c-tsource__ratio
                        | 1% 
                        span 25

    //Top refferals
    .col-md-4
        .c-card
            header.c-card__header
                h5.c-card__title top referrals
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content
                ul.c-top-referrals
                    li
                        a(href='#') m.facebook.com
                        span 12332
                    li
                        a(href='#') facebook.com
                        span 9897
                    li
                        a(href='#') twitter.com
                        span 8976
                    li
                        a(href='#') m.twitter.com
                        span 8976
                    li
                        a(href='#') pinterest.com
                        span 7786
                    li
                        a(href='#') whatsapp.com
                        span 7786
                    li
                        a(href='#') example.com
                        span 1000
                    li
                        a(href='#') shopify.com
                        span 50

    // browsers
    .col-md-4
        .c-card
            header.c-card__header
                h5.c-card__title Browsers
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content
                ul.c-browsers
                    li.c-browsers__item
                        img.c-browsers__logo(src="images/chrome.png", alt="images/chrome.png", srcset="images/chrome.png")
                        span.c-browsers__name google chrome
                        span.c-browsers__percentage 40%

                    li.c-browsers__item
                        img.c-browsers__logo(src="images/firefox.png", alt="images/firefox.png", srcset="images/firefox.png")
                        span.c-browsers__name mozilla firefox
                        span.c-browsers__percentage 30%

                    li.c-browsers__item
                        img.c-browsers__logo(src="images/safari.png", alt="images/safari.png", srcset="images/safari.png")
                        span.c-browsers__name safari
                        span.c-browsers__percentage 10%

                    li.c-browsers__item
                        img.c-browsers__logo(src="images/opera.png", alt="images/opera.png", srcset="images/opera.png")
                        span.c-browsers__name opera
                        span.c-browsers__percentage 8%

                    li.c-browsers__item
                        img.c-browsers__logo(src="images/internet-explorer.png", alt="images/internet-explorer.png", srcset="images/internet-explorer.png")
                        span.c-browsers__name internet explorer
                        span.c-browsers__percentage 6%

                    li.c-browsers__item
                        img.c-browsers__logo(src="images/android.png", alt="images/android.png", srcset="images/android.png")
                        span.c-browsers__name android browser
                        span.c-browsers__percentage 6%
    
    //Table of users                    
    .col-md-12
        .c-card
            header.c-card__header
                h5.c-card__title Members
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close
            .c-card-content

                table#users.c-table.table.has-data
                    thead
                        tr
                            th ID
                            th Name
                            th Username
                            th Country
                            th Role
                            th Last login
                            th Worked houres
                            th Balance
                            th Reviews
                            th Progress
                    tbody
                        tr
                            th(scope='row') 1
                            td 
                                span.c-table__name Jacob doe
                            td Thornton
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/ma.png", alt="")
                            td
                                span.badge.badge-info Writter
                            td Today, at 00:08AM
                            td 124h39min
                            td 13,21$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star-half
                                i.ion-ios-star-outline
                            td 
                                .progress
                                    .progress-bar.bg-warning(role="progressbar", style="width: 40%", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100")
                        tr
                            th(scope='row') 2
                            td
                                span.c-table__name Hicham Askour
                            td Askour
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/ru.png", alt="")
                            td
                                span.badge.badge-success Developer
                            td Today, at 04:08AM
                            td 1294h30min
                            td 139,21$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star-half
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                            td 
                                .progress
                                    .progress-bar.bg-danger(role="progressbar", style="width: 26%", aria-valuenow="26", aria-valuemin="0", aria-valuemax="100")
                        tr
                            th(scope='row') 3
                            td
                                span.c-table__name John dean
                            td Doe
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/us.png", alt="")
                            td
                                span.badge.badge-danger Designer
                            td Today, at 10:08AM
                            td 12h44min
                            td 1,201$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star 
                                
                            td 
                                .progress
                                    .progress-bar.bg-success(role="progressbar", style="width: 100%", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100")
                        tr
                            th(scope='row') 3
                            td
                                span.c-table__name Roberto goodale
                            td rbrte
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/au.png", alt="")
                            td
                                span.badge.badge-success Developer
                            td Today, at 10:08AM
                            td 12h10min
                            td 1,210$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star-half
                            td 
                                .progress
                                    .progress-bar.bg-success(role="progressbar", style="width: 85%", aria-valuenow="85", aria-valuemin="0", aria-valuemax="100")
                        tr
                            th(scope='row') 4
                            td
                                span.c-table__name Hassan bms
                            td Bms
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/br.png", alt="")
                            td
                                span.badge.badge-info Writter
                            td Today, at 09:08AM
                            td 16h57min
                            td 1,810$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star-half
                            td 
                                .progress
                                    .progress-bar.bg-success(role="progressbar", style="width: 90%", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100")
                        tr
                            th(scope='row') 5
                            td
                                span.c-table__name torrie bolds 
                            td Daoew3
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/qa.png", alt="")
                            td
                                span.badge.badge-primary Manager
                            td Today, at 08:08AM
                            td 132h05min
                            td 2,21$
                            td.c-table__review 
                                i.ion-ios-star
                                i.ion-ios-star
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                            td 
                                .progress
                                    .progress-bar.bg-danger(role="progressbar", style="width: 15%", aria-valuenow="15", aria-valuemin="0", aria-valuemax="100")

                        tr
                            th(scope='row') 6
                            td
                                span.c-table__name jesica nource
                            td jsca78
                            td 
                                img.c-table__country(src="../bower_components/country-flags/png100px/za.png", alt="")
                            td
                                span.badge.badge-warning Doctor
                            td Today, at 07:08AM
                            td 122h30min
                            td 8,21$
                            td.c-table__review 
                                i.ion-ios-star-half
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                                i.ion-ios-star-outline
                            td 
                                .progress
                                    .progress-bar.bg-danger(role="progressbar", style="width: 20%", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")

    //user
    .col-md-4
        .c-card.user-with-cover
            .cover-container
                img.cover(src='http://via.placeholder.com/500x200', alt='')

            .profile.profile-default
                img.profile__img.rounded-circle(src='images/profile.jpg', alt='')
                h4.profile__name Hicham Askour
                h5.profile__job ceo / co-founder
                ul.profile__rating
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star

                p.profile__about it is a long established fact that a reader will be distracted by the readable content of a page.

                ul.profile__tools
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Sed a message')
                            i.ion-ios-email
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Add to freinds list')
                            i.ion-person-add
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Repport')
                            i.ion-alert-circled
    //user
    .col-md-4
        .c-card.user-with-cover
            .cover-container
                img.cover(src='http://via.placeholder.com/500x200', alt='')

            .profile.profile-default
                img.profile__img.rounded-circle(src='images/profile.jpg', alt='')
                h4.profile__name Hicham Askour
                h5.profile__job ceo / co-founder
                ul.profile__rating
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star-half
                    li
                        i.ion-ios-star-outline

                p.profile__about it is a long established fact that a reader will be distracted by the readable content of a page.

                ul.profile__tools
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Sed a message')
                            i.ion-ios-email
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Add to freinds list')
                            i.ion-person-add
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Repport')
                            i.ion-alert-circled
    //user
    .col-md-4
        .c-card.user-with-cover
            .cover-container
                img.cover(src='http://via.placeholder.com/500x200', alt='')

            .profile.profile-default
                img.profile__img.rounded-circle(src='images/profile.jpg', alt='')
                h4.profile__name Hicham Askour
                h5.profile__job ceo / co-founder
                ul.profile__rating
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star
                    li
                        i.ion-ios-star-outline
                    li
                        i.ion-ios-star-outline
                    li
                        i.ion-ios-star-outline

                p.profile__about it is a long established fact that a reader will be distracted by the readable content of a page.

                ul.profile__tools
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Sed a message')
                            i.ion-ios-email
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Add to freinds list')
                            i.ion-person-add
                    li.profile__tools-item
                        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Repport')
                            i.ion-alert-circled
    //chat                            
    .col-md-6
        .c-card
            header.c-card__header
                h5.c-card__title Active chat
                ul.c-card__options  
                    li  
                        a(href="#")
                            i.ion-ios-gear-outline
                    li  
                        a.minimizecard(href="#")
                            i.ion-ios-arrow-down
                    li  
                        a.closecard(href="#")
                            i.ion-android-close

            .c-card__content.row
                .c-chat
                    .c-chat-head
                        img.c-chat-message--sender(src="images/thumbnail.png", alt="")
                        h5.c-chat-dist__name John doe
                            span.c-chat__state--online online

                        ul.c-chat-call
                            li.c-chat-call__method
                                a(href="#")
                                    i.ion-ios-videocam

                            li.c-chat-call__method
                                a(href="#")
                                    i.ion-ios-telephone

                    .c-chat-messages
                        .c-chat-message.c-chat-message--sender
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo hajhfhdf fkjdfd fjdfcbd mc dcjdbv fdvrvbr rkrb mrb rdfjrdbhf rdrc !
                                span.c-chat-message__time 12:07AM
                        
                        .c-chat-message
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo !
                                span.c-chat-message__time 12:07AM

                        .c-chat-message.c-chat-message--sender
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo !
                                span.c-chat-message__time 12:07AM

                        .c-chat-message
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo !
                                span.c-chat-message__time 12:07AM

                        .c-chat-message.c-chat-message--sender
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo !
                                span.c-chat-message__time 12:07AM

                        .c-chat-message.c-chat-message--sender
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo comistai sofnkj sakvdfv  !
                                span.c-chat-message__time 12:07AM

                        .c-chat-message
                            img(src="images/thumbnail.png" , alt="").c-chat-message__thum
                            p.c-chat-message__text Holla amigo !
                                span.c-chat-message__time 12:07AM

                    .c-chat-send
                        input.c-chat-send__text(type="text", name="", placeholder="Enter your message...")
                        a.c-chat-send__btn(href="#")
                            i.ion-ios-paperplane

                        a.c-chat-send__btn(href="#")
                            i.ion-ios-camera
    
    //File upload
    .col-md-6
            .c-file-upload.c-card#dropzone
                .c-file-upload-inner
                    i.ion-upload.c-file-upload-inner__icon
                    span.c-file-upload-inner__text Drag and drop your file
append scripts
    //- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
    
    //=============================================
    
        javascript files necessary for only this page to run correctely
        
        ==========================================//
    //jqvmap
    script(src="../bower_components/jqvmap/dist/jquery.vmap.min.js")

    //world maps
    script(src="../bower_components/jqvmap/dist/maps/jquery.vmap.world.js")

    //ChartJs
    script(src="../bower_components/chart.js/dist/Chart.min.js")

    //sweetalerts
    script(src="../bower_components/sweetalert2/dist/sweetalert2.min.js")

    //toastr
    script(src="../bower_components/toastr/toastr.min.js")
    
    //dropzone
    script(src="../bower_components/dropzone/dist/min/dropzone.min.js")
    
    //bower
    script(src="../bower_components/chartist/dist/chartist.min.js")

    //chartist tooltisps
    script(src="../bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")
    
    //dropzone
    script(src="../bower_components/dropzone/dist/min/dropzone.min.js")
    
    //datatables
    
    script(src="../bower_components/datatables.net/js/jquery.dataTables.min.js")

    script(src="js/home.js")
