extends includes/layout


append title
    title Invoice

    
append styles
  link(rel="stylesheet", href="css/invoice.css")
append sidebar
    +navigation( 'pages' )

append main
    
    .c-invoice.container-fluid
        .c-card
            .c-card__header.row
                img.c-invoice__logo(src="images/logo.svg", alt="")
                h4 Invoice
            .c-card__content
                .row
                    .col-4
                        h5 Invoice #Ev6F69D82 
                        ul
                            li 
                                b Date:
                                | 10/05/2018
                            
                            li
                                b Invoice ID:
                                | #Ev6F69D82
                            
                            li
                                b Payement method:
                                | Visa
                            li
                                b Shipping method:
                                | ePacket

                    .col-4.ml-auto.text-right
                        img.c-invoice__qr(src="images/QR.png", alt="")

                .row
                    .col-4
                        h5 Billed to:
                        ul
                            li John Doe
                            li Main street, FL, 12372 
                            li United states
                            li name@example.com
                            li +12376478273992

                    .col-4.ml-auto.text-right
                        h5 Billed From:
                        ul
                            li H-them Inc
                            li street, FL, 2372  
                            li United states
                            li example@company.com
                            li +12376478273992
            .row

                table.table.c-invoice-table
                    thead
                        tr
                            th #
                            th Item name
                            th Description
                            th Price
                            th Quantity
                            th Line Totale

                    tbody
                        tr
                            td Ev6F6v9D82 
                            td 15"  HD screen 
                            td No description
                            td 277,78$
                            td 1
                            td 277,78$ 

                        tr
                            td Ev6F6v9D82 
                            td 15"  HD screen 
                            td No description
                            td 277,78$
                            td 1
                            td 277,78$ 
            .row
                .col-4.ml-auto
                    ul
                        li SubTotale: 
                            span.float-right 292,78$

                        li Discount(10$):    
                            span.float-right -10$

                        li Tax(10%):    
                            span.float-right +29,27
                        
                        li Totale:     
                            span.float-right 312,05

            .row
                .col-4.ml-auto.text-right
                    .btn-group
                      a.btn.btn-default(href="#") Print
                      a.btn.btn-primary(href="#") Checkout

 
                            


append scripts

    //- here Your script: it will be placed after all scripts if you want to place it before just change the keyword 'append' to prepend
