doctype
html(lang="en")
    head
        //meta tags
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //page title
        title Sign in

        //site icon
        link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")

        //ionicons
        link(rel="stylesheet", href="../bower_components/ionicons/css/ionicons.min.css")

        //waves 
        link(rel="stylesheet", href="../bower_components/waves/dist/waves.min.css")

        //perfect scroll 
        link(rel="stylesheet", href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css")

        //pace 
        link(rel="stylesheet", href="../bower_components/pace/themes/blue/pace-theme-flash.css")

        //animate css
        link(rel="stylesheet", href="../bower_components/animate.css/animate.min.css")
      
        //main stylesheet
        link(rel="stylesheet", href="css/signin.css")

    body
        
        .c-signin
            .container-fluid
                .row
                    .col-md-7
                        
                    .col-md-5
                        img(src="images/logo.svg", alt="", class="c-signin__logo")
                        form(action="", class="c-signin-form")
                            input(type="text", class="c-signin-form__input form-control", placeholder="Full name")
                            input(type="text", class="c-signin-form__input form-control", placeholder="Email")
                            input(type="text", class="c-signin-form__input form-control", placeholder="Username")
                            input(type="password", class="c-signin-form__input form-control", placeholder="********")
                            a(href="index.html", class="btn c-signin-form__submit") Sign up
                            p.c-signin__have-account You already have an account ? 
                                a(href="signin.html") Sign in 

        //jQuey
        script(src="../bower_components/jquery/dist/jquery.min.js")

        //popper.js
        script(src="../bower_components/popper.js/dist/umd/popper.min.js")

        //Bootstrap
        script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")

        //waves 
        script(src="../bower_components/waves/dist/waves.min.js")

        //perfect scrollbar 
        script(src="../bower_components/perfect-scrollbar/dist/perfect-scrollbar.min.js")

        //Pace 
        script(src="../bower_components/pace/pace.min.js")

        //toastr
        script(src="../bower_components/toastr/toastr.min.js")
        
        //main js file
        script(src="js/shared.js")
