.c-breadcrumb{
    
    &__page{
        color: $main;
        text-align: left;
        margin: 25px 0 0 0;
    }

    &__subpage{
        color: $gray;
    }
}


.page--rtl{

	.c-breadcrumb{
    
	    &__page{
	        text-align: right;
	    }
	}


}