.c-browsers{
    list-style: none;

    &__item:not(:last-of-type){
        padding-bottom: 13px;
        border-bottom: 1px solid #f5f5f5;
    }

    &__item:not(:first-of-type){
        padding-top: 13px;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }

    &__logo{
        margin-right: 15px;
    }

    &__name{
        flex-grow: 1;

    }

    &__percentage{
        color: $gray;
    }
}