.btn{
    padding: 8px 25px;
    margin: 5px;
    color: $white !important;

    &-default{
        color: $dark !important;
        background: $gray;
    }

    &-light{
        color: $dark !important;
    }

    &-link{
        color: $blue !important;
    }
    &--bordered{
        background: transparent;


        &.btn-primary{
            color: $primary !important;
        }

        &.btn-secondary{
            color: $secondary !important;
        }

        &.btn-success{
            color: $success !important;
        }

        &.btn-danger{
            color: $danger !important;
        }

        &.btn-warning{
            color: $warning !important;
        }

        &.btn-info{
            color: $info !important;
        }

        &.btn-dark{
            color: $dark !important;
        }

        &:hover{
            color: #fff !important;
        }
    }

    &--rounded{
        border-radius: 100px;
    }

    &--lg{
        padding: 12px 45px;
    }

    &.btn-social{
        height: 40px;
        width: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--facebook{
        background: $facebook;
    }

    &--twitter{
        background: $twitter;
    }

    &--youtube{
        background: $youtube;
    }

    &--instagram{
        background: $instagram;
    }
}