.c-card{
    background: $white;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    margin: 15px 0;
    padding: 20px;
    transition: all linear .8s;
    overflow: hidden;
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__title{
        text-transform: capitalize;
    }
    &__options{
        display: flex;
        list-style: none;

        li{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
        a{
            color: $dark;
            font-size: 18px;
        }
    }

    &__labels{
        list-style: none;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        padding: 20px 0;
    }

    &__label{

        display: flex;
        align-items: center;
        margin-right: 15px;
        .color{
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0 5px;
        }

        .color.main{
            background: $main;
        }

        .color.sec{
            background: #dcdde1;
        }
        
        .color.red{
            background: #e74c3c;
        }
        .color.android{
            background: #a4c639;
        }

        .color.gray{
            background: #D3D3D3;
        }

        .color.iphone{
            background: #D3D3D3;
        }

        .key{
            font-size: 14px;
            color: $gray;
        }
    }

    &.is-collapsed{

        height: 65px;

    }

    &-footer{
        // background: #000;
        display: none;
        text-align: center;
        margin-top: 35px;
        h3{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-weight: 300;

            &:not(:last-of-type){
                border-right: 1px solid $light-gray;
            }
        }
        span{
            font-size: 16px;
            color: $gray;
        }
    }
}


.page--dark{
    .c-card:not(.c-states){
        background: $light-dark;

    }
    
    .c-card{
        &__title{
            color: $white;
            // display: none;
        }
        
        &__options{

            a{
                color: $white;
            }
        }
    
        &-footer{

            h3{
                
                color: $white;
                &:not(:last-of-type){
                    border-right: 1px solid $dark;
                }
            }
            span{
                font-size: 16px;
                color: $light-gray;
            }
        }

    }

    
}



.c-states{
    position: relative;
    padding: 25px 20px;
    // background: $dark;
    &::before{
        content: "";
        position: absolute;
        height: 160px;
        width: 160px;
        background: $main;
        bottom: -40px;
        right: -40px;
        border-radius: 50%;
        opacity: .9;

    }

    &::after{
        content: "";
        position: absolute;
        height: 140px;
        width: 140px;
        background: #eee;
        bottom: -40px;
        right: -40px;
        border-radius: 50%;
        opacity: .2;

    }
    &__num{
        font-size: 30px;
        margin: 0;
        font-weight: 300;
        color: $dark;
    }

    &__txt{
        color: $gray;

    }

    &__icon{
        position: absolute;
        font-size: 35px;
        color: $white;
        right: 15px;
        top: 34%;
        transform: translateY(-50%);
        opacity: .8;
    }

    &__status{
        position: absolute;
        right: 15px;
        bottom: 25px;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 25px;

    }

    &__status.is-up{
        background: lighten($green , 50%);
        color: $green;
    }

    &__status.is-down{
        background: lighten($red , 40%);
        color: $red;
    }
    
    // &--orange{
    //     background: linear-gradient(-45deg , #fe9264, #faab67);
    //     &::before{
    //         background: $orange;
    //     }
    // }
    

    // &--blue{
    //     background: linear-gradient(-45deg ,#6c5ce7, #a29bfe);
    //     &::before{
    //         background: #6c5ce7;
    //     }
    // }

    // &--green{
    //     background: linear-gradient(-45deg ,#44bd32, #4cd137);
    //     &::before{
    //         background: #44bd32;
    //     }
    // }

    // &--dark{
    //     background: linear-gradient(-45deg ,#2c3e50, #34495e);
    //     &::before{
    //         background: #2c3e50;
    //     }
    // }
}




.page--rtl{
    .c-card{
        text-align: right;
        &__options{
            display: flex;
            list-style: none;

            li{
                &:not(:last-child){
                    margin-right: inherit;
                    margin-left: 10px;
                }
            }
           
        }

    }


    .c-states{


        &::before{
            right: inherit;
            left: -40px;

        }

        &::after{
            right: inherit;
            left: -40px;

        }


        &__icon{
            right: inherit;
            left: 15px;
        }

        &__status{
            right: inherit;
            left: 15px;
        }

        &__status.is-up{
            background: lighten($green , 50%);
            color: $green;
        }

        &__status.is-down{
            background: lighten($red , 40%);
            color: $red;
        }
        
    }

}