.c-chat{

	display: flex;
	flex-direction: column;
	flex-grow: 1;

	position: relative;

	&-head{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}

	&-call{
		list-style-type: none;
		display: flex;
		padding-bottom: 1rem;
		&__method{


			&:not(:last-child){
				margin-right: 20px;
			}

			a{
				color: $main;
				font-size: 30px;
			}
		}
	}

	&-messages{
		position: relative;
		height: 568px;
		padding: 30px 20px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;

	}

	&-message{
		display: flex;
		position: relative;
		margin-bottom: 25px;

		&__text{
			position: relative;
			left: 45px;
			margin-left: 20px;
			background: $light-gray;
			padding: 10px 20px;
			display: flex;
			flex-direction: column;
			max-width: 375px;

			&::before{
				content: "";
				position: absolute;
				height: 15px;
				width: 15px;
				background: $light-gray;
				transform: rotate(45deg);
				left: -7px;
				top: 12px;


			}
		}

		&__thum{
			// height: 100%;
			position: absolute;
		}

		&__time{
			margin-left: 25px;
			font-size: 14px;
			color: $gray;
			font-style: italic;
			text-align: right;
		}

		&--sender{
			// flex-direction: column-reverse;

			.c-chat-message__thum{
				right: 0;
			}
			.c-chat-message__text{
				margin-left: auto;
				flex-direction: column;
				color: $white;
				background: $main;
				left: 40px;
				left: -64px;
				position: relative;
				&::before{
					right: -7px;
					left: unset;
					background: $main;
				}
			}

			.c-chat-message__time{
				margin-left: 0;
				margin-right: 25px;
				color: $light-gray;
				text-align: left;
			}

		}
	}

	&-dist{
		&__name{
			color: $dark;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}

	&-send{
		display: flex;
		padding: 1rem 20px 0;
		&__text{
			height: 50px;
			flex-grow: 1;
			border: 1px solid $light-gray;
			padding-left: 15px;
		}

		&__btn{
			background: $main;
			color: $white;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			// align-content: center;
			font-size: 24px;
			margin-left: 5px;

			i{
				align-self: center;
			}

		}
	}



	&__state--online{

		color: $green;
		font-size: 14px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background: #28a745;
			left: 10px;
			top: 6px;
		}
	}
}
