.c-country-list{
    list-style: none;
    margin: 0;
    padding: 0;
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 25px;
    &__item{
        display: flex;
        justify-content: space-between;
        
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    &__img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        // height: 20px;
    }

    &__amount{
        color: $gray;
    }

    &__country{
        flex-grow: 1;
        padding-left: 15px;
    }
}

.page--rtl{
    .c-country-list{
        &__country{
            padding-left: inherit;
            padding-right: 15px;
            text-align: right;
        }
    }
}