.c-file-upload{
	// background: $light-gray;

	&-inner{
		margin: 10px;
		border: 2px dotted $main;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		&__icon{
			font-size: 50px;
			margin-right: 10px;
			color: $main;
		}

		&__text{
			color: $gray;
		}
	}
}