/*
    Top Navbar components
*/
.c-top-nav{
    position: sticky;
    height: 80px;
    background-color: $white;
    border: none;
    padding: 0;
    @extend .navbar;
    @extend .sticky-top;
    @extend .flex-md-nowrap;
    @include make-container();
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    // z-index: 1;
    padding-left: 0;

    &-settings{
        @extend .nav;
        @extend .d-md-flex;
        @extend .d-lg-flex;
        flex-grow: 2;
        padding: 0;
        &__item{
            @extend .nav-item;
        }
        &__link{
            @extend .nav-link;
            padding: 0 18px;

            height: 80px;
            width: 50px;
            color: lighten($light-dark, 25%);
            line-height: 80px;
            text-align: center;
            font-size: 36px;
            &:hover,&:focus{
                color: $main;
            }
        }
    }
    &-search{

        position: relative;
        flex-basis: 30%;
        background: $light-gray;
        border-radius: 5px;
        flex-grow: 2;
        &:before{
            content: '\f4a5';
            position: absolute;
            font-family: Ionicons;
            color: $gray;
            font-size: responsive;
            opacity: .9;
            line-height: 40px;
            left: 15px;
        }
        &__input{
            width: 100%;
            height: 40px;
            border: none ;
            background: transparent;
            color: $gray;
            padding-left: 40px;
        }
        &__mic{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $gray;
            font-size: responsive;
            line-height: 40px;
            display: block;
            width: 40px;
            height: 40px;
            border: none;
            text-align: center;
        }

        &__mic:hover{
            color: $gray;
        }
    }

    &-alerts{
        justify-content: center;
        @extend .nav;
        flex-grow: 3;

        &__item{
            @extend .nav-item;
            position: relative;
        }

        &__item.show{
            background: $light-gray;
        }
        &__link{
            @extend .nav-link;
            position: relative;
            height: 80px;
            padding: 0;
            width: 50px;
            line-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:active{
                background: $light-gray;
            }

            i{
                color: lighten($light-dark, 25%);
                cursor: pointer;
                line-height: 40px;
                font-size: 24px;
            }
        }
        &__badge{
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            background: $main;
            border-radius: 50%;
            right: 13px;
            top: 28px;
            font-size: 10px;
            line-height: 1em;
        }
        .dropdown-menu{
            box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);

            .js-messages-ps,.js-nots-ps{
                width: 330px;
                height: 305px;
                position: relative;
            }

            left: 50% !important;
            transform: translateX(-50%) translateY(50px) !important;
            padding: 0;
            top: 18px !important;
            &::before{
                content: '';
                position: absolute;
                height: 15px;
                width: 15px;
                background: $white;
                left: 50%;
                top: -8px;
                transform: translateX(-50%) rotate(45deg);
                border-left: 1px solid $light-gray;
                border-top: 1px solid $light-gray;
            }
            &__link{
                display: flex;
                position: relative;
                padding: 20px 15px;
                border-bottom: 1px solid $light-gray;
            }

            &__link.dropdown-header{
                color: $gray;
                padding: 10px 15px;
            }

            &__link.dropdown-footer{
                color: $dark;
                padding: 10px 15px;
                text-align: center;
                display: block;
                font-size: 16px;
            }
        }

        &-messages{
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
            border: none;
            border-top: 1px solid $light-gray;

            &__thumb{
                border-radius: 50%;
                height: 50px;
                margin-right: 15px;
            }

            &__sender{
                font-size: 18px;
                margin-bottom: 0;
                font-weight: 400;
            }

            &__exerpt{
                position: relative;
                font-size: 14px;
                color: #718093;
                left: 16px;
                i{
                    position: absolute;
                    left: -15px;
                }
            }

            &__time{
                position: absolute;
                top: 20px;
                font-size: 14px;
                color: $gray;
                right: 15px;
            }
        }
    }

    &-profile{
        text-align: right;
        padding: 0;
        &__link{
            cursor: pointer;
            height: 50px;
            padding: 0 10px;
            line-height: 50px;
            width: 100%;
            display: flex;
            height: 80px;
            align-items: center;
        }
        &__img{
            @include img-fluid();
            width: 40px;
            border-radius: 50%;
        }

        &__name{
            font-size: 18px;
            padding: 0 5px;
            color: $dark;
        }

        i{
            color: $gray;
        }

    }
}


.c-profile-menu{
    right: 0;
    border: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
    width: 100%;
    &__item{
        padding: 8px 15px;
        font-size: 14px;
        display: flex;
        align-items: center;

        i{
            font-size: 22px;
        }
        span{
          margin: 0 8px;
        }
    }
}



.page--rtl{
    .c-top-nav{

        direction: rtl;
        padding-right: 0;
        padding-left: 15px;
        &-logo{
            text-align: right;
        }

        &-logo.is-collapsed{
            margin-left: 30px;
        }

        &-search{
            &:before{
                left: inherit;
                right: 15px;
            }
            &__input{

                padding-right: 40px;
            }
            &__mic{
                right: inherit;
                left: 0;
            }
        }


        .dropdown-menu{

            &__link{

                flex-direction: row-reverse;

                img{
                    margin-right: 0;
                    margin-left: 15px;
                }

                div{
                    h5{
                        text-align: right;
                    }
                    p{
                        text-align: right;
                        padding-right: 30px;

                        i{
                            left: inherit;
                            right: 15px;
                        }
                    }

                    span{
                        right: inherit;
                        left: 15px;
                    }

                }
            }
        }
    }
}


@include media-breakpoint-down(sm){

    .c-top-nav{
        &-logo{
            flex-basis: 38px;
            overflow: hidden;
            margin-right: 25px;
        }
    
        &-search{
            position: absolute;
            left: 90px;
            z-index: 9;
            width: 10%;
            transition: all ease .7s;
            &:hover{
                width: 60%;
            }
            overflow: hidden;
            &__input{
                width: 20%;
            }
            &__input:hover{
                width: 100%;
            }
            &__mic{
                display: none;
            }
        }
    
        &-profile{
    
            &__name{
                display: none;
            }
        }
    }
}


