.c-side-nav{
    width: 260px;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    background-color: $dark;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 15px 15px rgba(0,0,0,.07);
    z-index: 9;
    // overflow: auto;
    min-height: 100vh;
    &-logo{
        background: #2c3140;
        line-height: 80px;
        &__link{
            font-weight: 600;
            font-family: 'Montserrat' ;
            padding-left: 15px;
        }
    }

    &__item{
        line-height: 45px;
    }

    &__divider{
        padding: 1rem 1rem 0rem;
        color: $light-gray;
        margin-bottom: 15px;
    }
    &__link{
        display: flex;
        height: 50px;
        padding: 0 15px;
        font-size: responsive 14px 16px;
        color: $white;
        justify-content: space-between;
        transition: all ease-in .7s;
        &:focus{
            color: $gray;
        }

        &--active{
                        
            i{
                color: $main;
                opacity: 1;
            }
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 4px;
                background: $main;
                left: 0;
            }
        }

        &-text{
            flex-grow: 1;
            text-align: left;
        }
    }

    &__drpdwn-icon{
        transition: all ease .7s;
        &.is-expanded{
            transform: rotate(90deg);
        }
    }

    &-drpdwn{
        position: relative;
        padding: 25px 0;
        background: $light-dark;
        list-style: none;
        padding-left: 42px;
        &:before{
            content: '';
            position: absolute;
            height: calc(100% - 90px);
            width: 1px;
            background: $dark;
            left: 65px;
            top: 50%;
            transform: translateY(-50%);
        }
        

        &__link{
            position: relative;
            color: $gray;
            font-size: 16px;
            line-height: 30px;
            padding-left: 45px;
            transition: all ease .7s;
            
            &:before{
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                top: 8px;
                left: 18px;
                border: 2px solid;
                background: $light-dark;
            }

        }

        &__item--success{
            a{
                &::before{
                    border-color: $success;
                }
            }
        }
        
        &__item--danger{
            a{
                &::before{
                   border-color: $danger;
                }
            }
        }
        &__item--warning{
            a{
                &::before{
                    border-color: $warning;
                }
            }
        }

        &__item--info{
            a{
                &::before{
                    border-color: $info;
                }
            }
        }

        &__item--secondary{
            a{
                &::before{
                    border-color: $secondary;
                }
            }
        }
    
        &__item--dark{
            a{
                &::before{
                    border-color: $dark;
                }
            }
        }

        &__item--primary{
            a{
                &::before{
                    border-color: $primary;
                }
            }
        }
    }

    &__icon{
        font-size: 20px;
        display: inline-block;
        height: 40px;
        width: 45px;
        line-height: 50px;
        text-align: center;
        font-size: 22px;
        color: lighten($light-dark, 25%);
        opacity: .7;
    }
}
.c-side-nav.is-collapsed{
    width: 70px;
    .c-side-nav{
        width: 70px;

        &__divider{
            display: none;
        }

        &__link{
            padding: 0;
            height: 70px;
            width: 70px;
            justify-content: center;

            &-text{
                display: none;
            }
           
            &--active{

                &::before{
                    display: none;
                }
            }
        }

        &__icon{
            height: auto;
            width: auto;
            font-size: 20px;
            line-height: 70px;
        }

        &__item{
            position: relative;
        }
        &-drpdwn{
            position: absolute;
            left: 75px;
            background: $light-dark;
            top: 0;
            padding: 15px 5px;
            width: 200px;

            &::before{
                left: 28px;
                height: calc(100% - 80px);
            }
        }

        &__drpdwn-icon{
            display: none;
        }  
    }
}

.page--rtl{
    .c-side-nav{
        right: 0;
        left: inherit;
    
        &__divider{
            text-align: right;
        }
        &__link{
            
            &--active{
               
                &::before{
                    left: inherit;
                    right: 0;
                }
            }

            &-text{
                text-align: right;
            }
        }

        &__drpdwn-icon{
            transform: rotate(180deg);
            
            &.is-expanded{
                transform: rotate(90deg);
            }
        }

        &-drpdwn{
            text-align: right;
            left: inherit;
            &:before{
                right: 40px;
            }
            padding-left: inherit;
            padding-right: 40px;

            &__link{
                
                padding-left: initial;
                padding-right: 25px;
                
                &:before{
                    left: inherit;
                    right: -4px;
                }
            }
        }
    }
    
    .c-side-nav.is-collapsed{
            
        .c-side-nav{
            &-drpdwn{
                left: inherit;
                right: 75px !important;
                &:before{
                    right: 40px;
                }
                padding-left: inherit;
                padding-right: 40px;

                &__link{
                    
                    padding-left: initial;
                    padding-right: 25px;
                    
                    &:before{
                        left: inherit;
                        right: -4px;
                    }
                }
            }
        }
    }
}

/* 
    this part should be transfered 
*/

@include media-breakpoint-down(lg){
    
    .c-profile-menu{
        transform: translateX(-60%) translateY(50px) !important;
    }
    
    .c-side-nav{
        transform: translateX(-260px);
        transition: all ease .7s;
        &.is-open{
            transform: translateX(0px);
        }
    }
}