.c-social-media{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    &:not(:first-of-type){
        border-left: 1px solid $light-gray;

    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-bottom: .5rem;
        i{
            font-size: 30px;
        }
    }


    &--facebook{
        .c-social-media__icon{
            background: lighten($color: $facebook, $amount: 40);
            i{
                color: $facebook;
            }
        }
    }


    &--twitter{
        .c-social-media__icon{
            background: lighten($color: $twitter, $amount: 30);
            i{
                color: $twitter;
            }
        }
    }

    &--youtube{
        .c-social-media__icon{
            background: lighten($color: $youtube, $amount: 40);
            i{
                color: $youtube;
            }
        }
    }

    &--instagram{
        .c-social-media__icon{
            background: lighten($color: $instagram, $amount: 40);
            i{
                color: $instagram;
            }
        }
    }
}