.c-table{
	// vertical-align: center;
	th{
		border: none !important;
	}

	thead{
		th{
			border-color: $light-gray;
		}
	}
	
	tr{
		vertical-align: center;
	}
	td{
		border-color: $light-gray;
		padding: 1rem .75rem !important;
		color: $dark;
		font-weight: 300;
		// padding: 0;
		// display: flex;

		.badge{
			padding: .4em 1em;
		}

	}

	&__name{
		text-transform: capitalize;
		color: $blue;
	}

	&__country{
		max-width: 30px;
		text-align: center;
	}

	&__review{
		i{
			color: #f39c12;
		}
	}

	.progress{
		margin-top: 10px;
	}

	&.has-data{
		border-bottom: none !important;
		th{
			border: none !important;
		}

		
	}
}

.dataTables_paginate {
	display: flex !important;
}
.paginate_button {
	height: 35px !important;
	width: 35px !important;
	border: none !important;
	padding: 0 !important;
	border-radius: 50% !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	// background: $gray !important;
	font-size: 16px;
}



.paginate_button.current {
	background: $light-gray !important;
	// color: $white !important;
}

.dataTables_filter{
	input{
		// border: none;
		border: 1px solid $gray;

	}
}