.c-timeline{
    list-style: none;
    position: relative;
    padding: 0 15px;
    padding-right: 0;
    margin: 20px;
    // display: flex;
    
    &::before{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 1px;
        background: #dfe4ea;

    }

    &__icon{
        display: flex;
        position: absolute;
        height: 40px;
        width: 40px;
        background: #f1f2f6;
        left: -35px;
        top: -8px;
        border-radius: 50%;
        justify-content: center;

        i{
            align-self: center;
            color: $white;
        }
    }

    &__body{
        margin: 10px 0 15px 15px;

        h6,h5{
            // font-weight: bold;
            color: $dark;
        }
    }

    &__item{
        position: relative;
        margin-bottom: 35px;
        font-size: 14px;        
        
    }

    &__thumb{
        position: absolute;
        left: -30px;
        height: 30px;
    }

    
    &__item--success{
        .c-timeline__icon{
            background: #33394b;
            @extend .bg-success;
        }
    }
    
    &__item--danger{
        .c-timeline__icon{
            background: #ff4757;
        }
    }

    &__item--warning{
        .c-timeline__icon{
            @extend .bg-warning;
        }
    }

    &__item--info{
        .c-timeline__icon{
            @extend .bg-info;
        }
    }

    &__item--secondary{
        .c-timeline__icon{
            @extend .bg-secondary;
        }
    }
    

    &__item--dark{
        .c-timeline__icon{
            @extend .bg-dark;
        }
    }

    &__item--primary{
        .c-timeline__icon{
            background: #5352ed;
        }
    }

}


.page--rtl{
    .c-timeline{
        
        padding-left: 0;
        padding-right: 15px;
        &::before{
            left: inherit;
            right: 0;
            

        }

        &__icon{
            
            left: inherit;
            right: -35px;
        }

        &__body{
            margin: 15px;
        }

        &__thumb{
            left: inherit;
            right: -30px;
        }

    }
}