.c-to-do{
    padding: 0;
    list-style: none;

    &-head{
        padding: 10px 0;
        border-bottom: 1px solid #f1f1f1;
        position: relative;
        margin-bottom: 50px;

        &__date{
            font-weight: 300;
            color: $dark;
        }

        &__mounth{
            color: $gray;
        }
        &__add{
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: $main;
            cursor: pointer;
            position: absolute;
            right: -3px;
            top: 59px;

            i{
                color: $white;
                font-size: 25px;
            }
        }
    }
    &__item{
        display: flex;
        margin-bottom: 35px;
        position: relative;
        label{
            margin: 0;
            margin-left: 10px;
            margin-bottom: 5px;
            color: $dark;

            &.js-done{
                text-decoration: line-through;
                font-weight: 300;
                color: $gray;
            }
        }

        
    }

    &-add{
        display: flex;
        &__txt{
            border: none;
            border-bottom: 1px solid $gray;
            flex-grow: 1;
            padding-left: 5px;
            transition: all ease-in .7s;
            &:focus{
                border-color: $main;
            }
        }

        &__btn{
            border: none;
            background: transparent;
            padding: 10px 35px;
            background: $blue;
            color: $white;
            cursor: pointer;
            
        }
    }
    
    &__complete{
        position: absolute;
        right: 20px;
        top: -8px;
        color: $green;
    
        &:hover{
            color: $green;
        }
    }
    &__delete{
        position: absolute;
        color: $red;
        top: -8px;
        right: 0px;
        &:hover{
            color: $red;
        }
    }
}


.page--rtl{


    .c-to-do{

        &-head{
           
            &__add{
                right: inherit;
                left: -3px;
            }
        }

        &__item{
            // justify-content: left;
            label{
                margin-left: 30px;
                margin-bottom: 0;
            }

            
        }

        &-add{
            display: flex;
            &__txt{
                border: none;
                border-bottom: 1px solid $gray;
                flex-grow: 1;
                padding-left: 5px;
                transition: all ease-in .7s;
                &:focus{
                    border-color: $main;
                }
            }

            &__btn{
                border: none;
                background: transparent;
                padding: 10px 35px;
                background: $blue;
                color: $white;
                cursor: pointer;
                
            }
        }
        
        &__complete{
            left: 20px;
            right: inherit;
        }
        &__delete{
            right: inherit;
            left: 0px;
        }
    }

}