.c-top-referrals{
    list-style: none;
	li{
		line-height: 40px;

		a{
			color: $black;
			font-size: 14px;
			text-decoration: underline;

		}

		span{
			float: right;
            font-size: 14px;
            color: $gray;
		}
	}
}