
.c-tsource{
	// padding-top: 5px;
	&__type{
        margin-bottom: 5px;
        text-transform: capitalize;
        color: $dark;
        font-size: 100%;
	}
	&__ratio{
		margin-bottom: 20px;
		color: $main;
		font-size: 24px;
		span{
			color: #999;
			font-size: 14px;
		}
	}
}