
.user-with-cover{
	overflow: hidden;
	// padding: 60px 15px 15px;
	position: relative;
	.cover-container{
		position: absolute;
		top: 0;
		width: 100%;
		height: 150px;
		left: 0;
		overflow: hidden;
	}
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
	}

}

.profile{

	text-align: center;
	padding: 75px 0 15px;
	position: relative;

	&__img{
		border: 5px solid $white;
	}

	&__name{
		
		margin-top: 10px;
		font-weight: 600;

	}

	&__job{
		font-style: italic;
		color: $gray;
		margin: 0;
	}

	&__rating{
		li{
			display: inline-block;
			i{
				color: #f39c12;
			}
		}
	}

	&__about{
		font-size: 14px;
		line-height: 18px;
		margin: 10px 0;
	}

	&__tools{
		
		margin-top: 10px;
		&-item{
			display: inline-block;
			margin-right: 5px;
			a{
				display: block;
				height: 35px;
				width: 35px;
				border-radius: 50%;
				line-height: 35px;
				background: $main;
				color: $white;
				font-size: 14px

			}
		}
		&-item:last-child{
			margin: 0;
		}
	}
}