.o-main-page{
    display: flex;
    // flex-direction: column;
    padding:  0 0px 0px 0;
    padding-left: 260px;
    flex-wrap: wrap;
    transition: all ease .7s;
    // overflow: hidden;
}

@include media-breakpoint-up(lg){
    .o-main-page{
        &.is-collapsed{
            padding-left: 70px;
        }
    }
}
@include media-breakpoint-down(lg){
   .o-main-page{
        padding-left: 0;
        &.is-open{
            transform: translateX(260px);
        }
        &.is-collapsed{
            padding-left: 0px;
        }
    }
}

.page--rtl{
    .o-main-page{
        padding-left: inherit;
        padding-right: 260px;

    }

    .o-main-page.is-collapsed{
        padding-right: 70px;
    }

}
