	@import "../../bower_components/bootstrap/scss/functions";
	@import "../../bower_components/bootstrap/scss/variables";
	@import "../../bower_components/bootstrap/scss/mixins";
	@import "../../bower_components/bootstrap/scss/root";
	@import "../../bower_components/bootstrap/scss/reboot";
	// @import "../../bower_components/bootstrap/scss/type";
	// @import "../../bower_components/bootstrap/scss/images";
	@import "../../bower_components/bootstrap/scss/code";
	@import "../../bower_components/bootstrap/scss/grid";
	// @import "tables";
	@import "../../bower_components/bootstrap/scss/forms";
	@import "../../bower_components/bootstrap/scss/buttons";
	@import "../../bower_components/bootstrap/scss/transitions";
	@import "../../bower_components/bootstrap/scss/dropdown";
	@import "../../bower_components/bootstrap/scss/button-group";
	@import "../../bower_components/bootstrap/scss/input-group";
	@import "../../bower_components/bootstrap/scss/custom-forms";
	@import "../../bower_components/bootstrap/scss/nav";
	@import "../../bower_components/bootstrap/scss/navbar";
	@import "../../bower_components/bootstrap/scss/card";
	// @import "../../bower_components/bootstrap/scss/breadcrumb";
	// @import "../../bower_components/bootstrap/scss/pagination";
	// @import "../../bower_components/bootstrap/scss/badge";
	// @import "../../bower_components/bootstrap/scss/jumbotron";
	// @import "../../bower_components/bootstrap/scss/alert";
	// @import "../../bower_components/bootstrap/scss/progress";
	// @import "../../bower_components/bootstrap/scss/media";
	// @import "../../bower_components/bootstrap/scss/list-group";
	// @import "../../bower_components/bootstrap/scss/close";
	// @import "../../bower_components/bootstrap/scss/modal";
	// @import "../../bower_components/bootstrap/scss/tooltip";
	// @import "../../bower_components/bootstrap/scss/popover";
	// @import "../../bower_components/bootstrap/scss/carousel";
	@import "../../bower_components/bootstrap/scss/utilities";
	// @import "../../bower_components/bootstrap/scss/print";
	

	   //Settings
    @import '1-settings/global';
    @import '1-settings/colors';

    //tools
    // @import '2-tools/mixins';
    
    //Generic
    @import '3-generic/shared';

    //elements
    @import '4-elements/links';
    @import '4-elements/images';

    //objects
    @import '5-objects/layout';



body{
	background: url(../images/404.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.c-404{
	align-self: center;
	text-align: center;
	
	&__logo{

		height: 68px;
	}
	&__h1{
		font-size: 128px;
		color: $white;
		margin-top: -30px;
	}

	&__h3{
		margin-top: -30px;
		color: $white;
		font-size: 30px;
	}

	&__p{
		color: $white;
		margin-bottom: 30px;
	}

	&__search{
		border: none;
		height: 40px;
		width: 300px;
		border-radius: 25px;
		padding-left: 25px;
	}

}

.nav{
	position: absolute;
	bottom: 50px;
	
	li:not(:last-child){
		margin-right: 45px;
	}

	li{
		a{
			color: $white;
		}
	}
}	