@import '1-settings/colors';

#fullcalendar{
  padding: 50px;
}

.fc-state-default{
  background: darken($main , 4%);
  border: none;
  color: #fff;
  border-radius: 0;
}

.fc-state-active, .fc-state-down{
  background: $main;
}

.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a[data-goto] {
    padding: 5px;
}

.fc-center{
  h2{
    font-size: 18px;
    text-transform: uppercase;
  }

}
