@import '1-settings/colors';


ul{
  list-style: none;
}


.c-invoice{
  .c-card{
    // padding: 25px;
  }
  .row{
    margin: 0;
  }
  &__logo{
    height: 50px;
    margin-bottom: 40px;
  }

  &__qr{
    height: 150px;
    margin-bottom: 40px;
  }

  &-table{
    margin: 40px 15px;
  }

  .btn-group{
    margin: 40px 0;

    .btn{
      padding: 5px 25px;

      &:not(:last-of-type){
        margin-right: 15px;
      }
    }

    .btn-default{
      background: $light-gray;
      color: $dark;
    }
  }
}

// img {
//   height: 300px;
// }
