    
    /*
        include Bootstrap sass files

    */

        @import '../../bower_components/bootstrap/scss/bootstrap';
    /*
        Table of content

        1)- Settings
            - Global
            - Colors
        2)- Tools
            - Mixins
        3)- Generic
            - shared
        4)- Elements
            - links
            - images
        5)- Objects
            - layout
        6)- Components
            - navbars
            - buttons
        7)- Trumps
            - links
            - buttons
    */
    
    //Settings
    @import '1-settings/global';
    @import '1-settings/colors';

    //tools
    // @import '2-tools/mixins';
    
    //Generic
    @import '3-generic/shared';

    //elements
    @import '4-elements/links';
    @import '4-elements/images';

    //objects
    @import '5-objects/layout';

    //componenets
    @import '6-components/navbar';
    @import '6-components/sidenav';
    @import '6-components/buttons';
    @import '6-components/breadcrumb';
    @import '6-components/cards';
    @import '6-components/country-list';
    @import '6-components/progress';
    @import '6-components/timelines';
    @import '6-components/to-do';
    @import '6-components/social-media';
    @import '6-components/traffic-source';
    @import '6-components/top-referrals';
    @import '6-components/browsers';
    @import '6-components/user-profile';
    @import '6-components/tables';
    @import '6-components/file-upload';
    @import '6-components/chat';
    
    //trumps

    
    @import '7-utilities/postions.scss';
    

    