	@import "../../bower_components/bootstrap/scss/functions";
	@import "../../bower_components/bootstrap/scss/variables";
	@import "../../bower_components/bootstrap/scss/mixins";
	@import "../../bower_components/bootstrap/scss/root";
	@import "../../bower_components/bootstrap/scss/reboot";
	// @import "../../bower_components/bootstrap/scss/type";
	// @import "../../bower_components/bootstrap/scss/images";
	@import "../../bower_components/bootstrap/scss/code";
	@import "../../bower_components/bootstrap/scss/grid";
	// @import "tables";
	@import "../../bower_components/bootstrap/scss/forms";
	@import "../../bower_components/bootstrap/scss/buttons";
	@import "../../bower_components/bootstrap/scss/transitions";
	@import "../../bower_components/bootstrap/scss/dropdown";
	@import "../../bower_components/bootstrap/scss/button-group";
	@import "../../bower_components/bootstrap/scss/input-group";
	@import "../../bower_components/bootstrap/scss/custom-forms";
	@import "../../bower_components/bootstrap/scss/nav";
	@import "../../bower_components/bootstrap/scss/navbar";
	@import "../../bower_components/bootstrap/scss/card";
	// @import "../../bower_components/bootstrap/scss/breadcrumb";
	// @import "../../bower_components/bootstrap/scss/pagination";
	// @import "../../bower_components/bootstrap/scss/badge";
	// @import "../../bower_components/bootstrap/scss/jumbotron";
	// @import "../../bower_components/bootstrap/scss/alert";
	// @import "../../bower_components/bootstrap/scss/progress";
	// @import "../../bower_components/bootstrap/scss/media";
	// @import "../../bower_components/bootstrap/scss/list-group";
	// @import "../../bower_components/bootstrap/scss/close";
	// @import "../../bower_components/bootstrap/scss/modal";
	// @import "../../bower_components/bootstrap/scss/tooltip";
	// @import "../../bower_components/bootstrap/scss/popover";
	// @import "../../bower_components/bootstrap/scss/carousel";
	@import "../../bower_components/bootstrap/scss/utilities";
	// @import "../../bower_components/bootstrap/scss/print";
	

	   //Settings
    @import '1-settings/global';
    @import '1-settings/colors';

    //tools
    // @import '2-tools/mixins';
    
    //Generic
    @import '3-generic/shared';

    //elements
    @import '4-elements/links';
    @import '4-elements/images';

    //objects
    @import '5-objects/layout';



body{
	background: $white;
}
.c-signin{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(../images/signin_bg.png) no-repeat, url(../images/signin_bg-2.png) no-repeat;
    background-size: contain, 30%;
    background-position: -15%, right 100%;
	

	&__logo{
		max-height: 60px;
		justify-content: center;
		margin-bottom: 30px;
	}
    &-form{
		display: flex;
		justify-content: center;
		flex-direction: column;
		&__input{
			max-width: 453px;
			height: 55px;
			margin-bottom: 25px;
			border: none;
			background: $light-gray;
			align-self: center;
			
		}

		&__submit{
			width: 453px;
			height: 55px;
			align-self: center;
			background: $main;
			color: $white;
			line-height: 55px;
			padding: 0;
		}


    }

    &__forgot-pass{
		align-self: center;
		margin: 25px 0;
		color: $dark;
	}

	&__have-account{
		align-self: center;
		color: $dark;

		a{
			font-size: 16px;
		}
	}
}