$gray: #ced6e0;
$green: #3ed783;
$light-gray: #f5f6fa;
$blue: #7c9dfe;
$orange: #fa8231;
$dark: #2c3140;
$light-dark: #33394b;
$red: #e84118;


//main color 
$main: #00a8ff;

//social green
$facebook: #3b5999;
$twitter: #55acee;
$youtube: #cd201f;
$instagram: #e4405f;
// Links
//
// Style anchor elements.

$link-color:                #5352ed;
$link-hover-color:          darken($link-color, 25%);
$link-hover-decoration:     none;


$primary:       #3498db;
$secondary:     #95a5a6;
$success:       #2ecc71;
$info:          #2980b9;
$warning:       #f1c40f;
$danger:        #e74c3c;
$light:         #ecf0f1;