body{
    background: $light-gray;
}

.page--rtl{
    overflow-x: hidden;
}
a{
    color: $main;
}
p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
.jqvmap-zoomin,.jqvmap-zoomout{
    box-sizing: content-box;
    height: 25px;
    width: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main;
    left: 20px;
}


.page--rtl{
    .jqvmap-zoomin,.jqvmap-zoomout{
        
        left: inherit;
        right: 20px;
    }
}
.jqvmap-zoomout{
    top: 40px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: $main;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #dfe4ea;
}


.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie{
    fill: #D3D3D3;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie{
    fill: $main;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie{
    fill: #a4c639;
}

.ct-chart-donut .ct-label, .ct-chart-pie .ct-label{
    fill: $white;
}

.ct-line {
    stroke-width: 2px;
}

.ct-grid {

    stroke: rgba(0,0,0,.1);
    stroke-width: 1px;
    stroke-dasharray: 1px;
}

.chartist-tooltip {
    background: $dark;
    color: $white;

    &:before{
        border-top-color: $dark;
    }
}

.pace .pace-progress{
    background: $main;
    height: 3px;
}

.pace .pace-progress-inner{
    box-shadow: 0 0 10px $main, 0 0 5px $main;
}

.pace .pace-activity{
    border-top-color: $main;
    border-left-color: $main;
}
.bg-main{
    background: $main;
}


