doctype
html(lang="en")
    head
        //meta tags
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //page title
        block title
            //- this block is for the title! it will be replaced by the page title

        //=============================================

            css files necessary for all pages to run correctely

            ==========================================//
        block styles
            //site icon
            link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")

            //ionicons
            link(rel="stylesheet", href="../bower_components/ionicons/css/ionicons.min.css")

            //waves 
            link(rel="stylesheet", href="../bower_components/waves/dist/waves.min.css")

            //perfect scroll 
            link(rel="stylesheet", href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css")

            //pace 
            link(rel="stylesheet", href="../bower_components/pace/themes/blue/pace-theme-flash.css")

            //animate css
            link(rel="stylesheet", href="../bower_components/animate.css/animate.min.css")
            
            //material icons
            link(rel="stylesheet", href="../bower_components/material-design-icons/iconfont/material-icons.css")
            
            //main stylesheet
            link(rel="stylesheet", href="css/main.css")

        //- Mixins
        include mixins/mixins
    body

            
        //main page
        main.o-main-page
            //sidebar
            block sidebar
            block main
                include components/c-top-nav


        //=============================================
        
            javascript files necessary for all pages to run correctely
            
            ==========================================//
        block scripts
            //jQuey
            script(src="../bower_components/jquery/dist/jquery.min.js")

            //popper.js
            script(src="../bower_components/popper.js/dist/umd/popper.min.js")

            //Bootstrap
            script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")

            //waves 
            script(src="../bower_components/waves/dist/waves.min.js")

            //perfect scrollbar 
            script(src="../bower_components/perfect-scrollbar/dist/perfect-scrollbar.min.js")

            //Pace 
            script(src="../bower_components/pace/pace.min.js")

            //toastr
            script(src="../bower_components/toastr/toastr.min.js")
            
            //main js file
            script(src="js/shared.js")
