nav.c-top-nav  
    //Settings
    ul.c-top-nav-settings
        //nav item
        li.c-top-nav-settings__item.js-waves--dark
            a.c-top-nav-settings__link.js-toggle-side-nav(href="#")
                i.ion-navicon
        //nav item
        //- li.c-top-nav-settings__item.js-waves--rounded-dark.js-full-screen
        //-     a.c-top-nav-settings__link(href="#")
        //-         i.ion-arrow-expand
                
    //Search form
    form.c-top-nav-search(action="#")
        input.c-top-nav-search__input(type="search", name="search", placeholder="Search...")
        a(href="#").c-top-nav-search__mic.js-waves--light
            i.ion-ios-mic

    //alerts
    ul.c-top-nav-alerts
        li.c-top-nav-alerts__item
            a.c-top-nav-alerts__link.js-waves--dark#tasks(href="#", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.ion-ios-flag
                span.c-top-nav-alerts__badge
            //- //tasks dropdown
            .dropdown-menu(aria-labelledby='tasks').p-4
                

        li.c-top-nav-alerts__item 
            a.c-top-nav-alerts__link.js-waves--dark#messages(href="#", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.material-icons message
                span.c-top-nav-alerts__badge

            //Messages dropdown
            .dropdown-menu.c-top-nav-alerts-messages.js-scrollbar.animated.fadeIn(aria-labelledby='messages')

                p.dropdown-menu__link.dropdown-header You have 1 new messages
                .js-messages-ps
                    - 
                        var messages = [
                            { sender: "Hicham Askour", exerpt: "heey !!" , time: "12:19PM", imgUrl: "images/profile.jpg"},
                            { sender: "John doe", exerpt: "every thing is all set..." , time: "09:19PM", imgUrl: "images/profile.jpg"},
                            { sender: "Hicham Askour", exerpt: "500$" , time: "4 MAR", imgUrl: "images/thumbnail.png"},
                            { sender: "Jean Doe", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { sender: "Roberto Goodale", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { sender: "Torrie Bolds", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { sender: "Kerry Camburn", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { sender: "Jesica Nourse", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"}
                        ]

                    - for (var x = 0 ; x< messages.length; x++)
                        //- Single message
                        +showMessages(messages[x].sender, messages[x].exerpt , messages[x].time, messages[x].imgUrl)

                        

                a.dropdown-menu__link.dropdown-footer(href="#") Show All Messages

        li.c-top-nav-alerts__item 
            a.c-top-nav-alerts__link.js-waves--dark#notifivations(href="#", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.material-icons notifications
                span.c-top-nav-alerts__badge

            //Notification dropdown
            .dropdown-menu.c-top-nav-alerts-nots.animated.fadeIn(aria-labelledby='notifivations')

                p.dropdown-menu__link.dropdown-header You have 3 new notifications
                .js-nots-ps
                    
                    - 
                        var notifications = [
                            { title: "Hicham uploader new files", exerpt: "heey !!" , time: "12:19PM", imgUrl: "images/profile.jpg"},
                            { title: "John doe", exerpt: "every thing is all set..." , time: "09:19PM", imgUrl: "images/profile.jpg"},
                            { title: "Hicham Askour", exerpt: "500$" , time: "4 MAR", imgUrl: "images/thumbnail.png"},
                            { title: "Jean Doe", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { title: "Roberto Goodale", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { title: "Torrie Bolds", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { title: "Kerry Camburn", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"},
                            { title: "Jesica Nourse", exerpt: "heey !!" , time: "3 MAR", imgUrl: "images/profile.jpg"}
                        ]

                    - for (var x = 0 ; x< notifications.length; x++)
                        //- Single message
                        +showNotifications(notifications[x].title, notifications[x].exerpt , notifications[x].time, notifications[x].imgUrl)

                a.dropdown-menu__link.dropdown-footer(href="#") Show All Messages
                
    //profile
    .c-top-nav-profile.btn-group
        a.c-top-nav-profile__link.js-waves--dark#profile(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.c-top-nav-profile__img(src="images/thumbnail.png", alt="", srcset="images/thumbnail.png")
            span.c-top-nav-profile__name  Hicham Askour 
            i(class="material-icons") arrow_drop_down
        //Notification dropdown
        .dropdown-menu.c-profile-menu.animated.fadeIn(aria-labelledby='profile')
            a.c-profile-menu__item.dropdown-item(href='profile.html')
                i.ion-ios-person
                span  My profile
            a.c-profile-menu__item.dropdown-item(href='settings.html')
                i.ion-ios-gear
                span  Settings
            a.c-profile-menu__item.dropdown-item(href='#')
                i.ion-log-out
                span  Logout
            a.c-profile-menu__item.dropdown-item(href='#')
                i.ion-ios-help
                span  Help