mixin showMessages(sender , exerpt , time , imgURL)
    a.dropdown-menu__link(href='#').dropdown-item.js-waves--dark
        img.c-top-nav-alerts-messages__thumb(src=imgURL, alt="")
        div
            h5.c-top-nav-alerts-messages__sender= sender

            p.c-top-nav-alerts-messages__exerpt= exerpt
                i.ion-reply
            span.c-top-nav-alerts-messages__time= time


mixin showNotifications(title , exerpt , time , imgURL)
    a.dropdown-menu__link(href='#').dropdown-item.js-waves--dark
        img.c-top-nav-alerts-messages__thumb(src=imgURL, alt="")
        div
            h5.c-top-nav-alerts-messages__sender= title

            p.c-top-nav-alerts-messages__exerpt= exerpt
                //- i.ion-reply
            // span.c-top-nav-alerts-messages__time= time


mixin navigation( activePage )
    .u-fixed
        ul#side-nav.c-side-nav.js-scrollbar
            li
                //Logo
                .c-side-nav-logo
                    a.c-side-nav-logo__link(href="index.html") 
                        img(src="images/logo.png", alt="", srcset="")

            li.c-side-nav__divider Menu
            li.c-side-nav__item
                a(href="#dashboards",data-toggle="collapse", class=( activePage === "home") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons home
                    span.c-side-nav__link-text Dashboard
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon

                ul#dashboards.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="index-rtl.html") RTL

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--success
                        a.c-side-nav-drpdwn__link(href="index-light.html") Light version

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="index-ecommerce.html") Ecommerce

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--secondary
                        a.c-side-nav-drpdwn__link(href="index-analytics.html") Analytic

            li.c-side-nav__item
                a(href="#layout", data-toggle="collapse", role="button" , data-parent="#side-nav", aria-expanded="true", class=( activePage === "forms") ? "active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons format_paint
                    span.c-side-nav__link-text Forms
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon
                ul#layout.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="#") Form elements

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="index-rtl.html") Input groups
                    
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="index-rtl.html") Editor
            
            li.c-side-nav__item
                a(href="#navtables", data-toggle="collapse", role="button",data-parent="#side-nav", aria-expanded="false", class=( activePage === "tables") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons border_all
                    span.c-side-nav__link-text Tables
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon

                ul#navtables.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="basic-tables.html") Basic tables

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="data-tables.html") Data Tables

            li.c-side-nav__item
                a(href="#chartsdrpdwn", data-toggle="collapse", role="button",data-parent="#side-nav", aria-expanded="false", class=( activePage === "charts") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons insert_chart
                    span.c-side-nav__link-text Charts
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon

                ul#chartsdrpdwn.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="chartjs.html") ChartJs

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="morrisjs.html") Morris Js

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="chartistjs.html") Chartist

                    //- //- Dropdown item
                    //- li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                    //-     a.c-side-nav-drpdwn__link(href="#") C3

                    //- //- Dropdown item
                    //- li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--dark
                    //-     a.c-side-nav-drpdwn__link(href="#") Float

            li.c-side-nav__item
                a(href="#icons", data-toggle="collapse", role="button" , data-parent="#side-nav", aria-expanded="true", class=( activePage === "icons") ? "active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons fingerprint
                    span.c-side-nav__link-text Icons
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon
                ul#icons.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="#") Material icons

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="index-rtl.html") Font awesome
                    
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="index-rtl.html") Ionicons


            li.c-side-nav__item
                a(href="#uielements", data-toggle="collapse", role="button",data-parent="#side-nav", aria-expanded="true", class=( activePage === "ui_elements") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons bubble_chart
                    span.c-side-nav__link-text UI elements
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon
                ul#uielements.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="buttons.html") Buttons

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="Accordions.html") Accordions

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--success
                        a.c-side-nav-drpdwn__link(href="dropdowns.html") Dropdowns

                        //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="alerts.html") Alerts

                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--secondary
                        a.c-side-nav-drpdwn__link(href="grid.html") Grid system
                        
                        //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--dark
                        a.c-side-nav-drpdwn__link(href="tabs.html") Tabs
                    
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--primary
                        a.c-side-nav-drpdwn__link(href="tooltips.html") Tooltips

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="avatars.html") Avatars

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--success
                        a.c-side-nav-drpdwn__link(href="typography.html") Tyography


            li.c-side-nav__item
                a(href="#navpages", data-toggle="collapse", role="button",data-parent="#side-nav", aria-expanded="true", class=( activePage === "pages") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons description
                    span.c-side-nav__link-text Pages
                    i.ion-ios-arrow-right.c-side-nav__drpdwn-icon
                ul#navpages.c-side-nav-drpdwn.collapse(data-parent="#side-nav")
                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--info
                        a.c-side-nav-drpdwn__link(href="login.html") Login page

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                        a.c-side-nav-drpdwn__link(href="signup.html") signup page

                    //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--success
                        a.c-side-nav-drpdwn__link(href="404.html") 404 page

                        //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--warning
                        a.c-side-nav-drpdwn__link(href="Invoice.html") Invoice

                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--secondary
                        a.c-side-nav-drpdwn__link(href="blank.html") Blank
                        
                        //- Dropdown item
                    li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--dark
                        a.c-side-nav-drpdwn__link(href="procing.html") Pricing

                li.c-side-nav__item
                    a(href="#navapps", data-toggle="collapse", role="button",data-parent="#side-nav", aria-expanded="true", class=( activePage === "apps") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                        i.c-side-nav__icon.material-icons extension
                        span.c-side-nav__link-text Apps
                        i.ion-ios-arrow-right.c-side-nav__drpdwn-icon
                    ul#navapps.c-side-nav-drpdwn.collapse(data-parent="#side-nav")

                        //- Dropdown item
                        li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--danger
                            a.c-side-nav-drpdwn__link(href="chat.html") Chat
                        
                        //- Dropdown item
                        li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--primary
                            a.c-side-nav-drpdwn__link(href="calendar.html") Calendar

                        //- Dropdown item
                        li.c-side-nav-drpdwn__item.c-side-nav-drpdwn__item--success
                            a.c-side-nav-drpdwn__link(href="supprt-ticket.html") Support Tickets

            li.c-side-nav__divider More

            li.c-side-nav__item
                a(href="documentation.html",class=( activePage === "docs") ? "c-side-nav__link--active c-side-nav__link js-waves--dark" : "c-side-nav__link js-waves--dark")
                    i.c-side-nav__icon.material-icons insert_drive_file                
                    span.c-side-nav__link-text Documentations
            
            li.c-side-nav__item
                a.c-side-nav__link.js-waves--dark(href="#")
                    i.c-side-nav__icon.material-icons help                    
                    span.c-side-nav__link-text Support
